@CHARSET "ISO-8859-1";

<style>
        .box{display:block; float:left; width:20px; margin:0 45px 0 0; padding:0;}
        .textbox {
            display:block;
            width:310px;
			font-size: 24px;
			color: black;
			font-family: Arial, Helvetica, sans-serif;
                        border-radius:5px 5px 5px 5px;
			border-style: none;
			border-width: medium;
			height:40px; 
			padding:5px 10px 5px 10px;
        }
	
		
	</style>