@CHARSET "ISO-8859-1";

			body{
			background-image: url("bg.jpg");
			min-height: 100%;
 			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;   	
			}

			@font-face {
			font-family: headingtFont;
			src: url("poetsenone-regular.ttf");
			}
			
			.heading{
			font-family: headingtFont;
			color: #d23641;
			font-size: 140px;
			text-align: center; 
			position: fixed;
			left: 400px;
			top: -90px;
			}
			
			.transbox{ 
			position: fixed;
			opacity: 0.5; 
			background:#235021; 
			height:290px;
			width:573px;
			top:252px;
			left: 402px; 
			
			}
			
			@font-face {
			font-family: transboxFont;
			src: url("scriptbl.ttf");
			}
			
			.transbox p
			{
			font-family: transboxFont;
			color: #ffff00;
			font-size: 48px;
			text-align: center; 
			position: fixed;
			left: 449px;
			top: 230px;
			opacity: 100;
			}
			
			.textbox1{
			position: fixed;
            height:55px;
			width:480px;
			top: 385px; 
			left: 449px;
			font-size: 24px;
			font-family: Arial, Helvetica, sans-serif;
			border-style: none;
			border-width: medium; 
			padding:5px 10px 5px 15px;
			}
			
			/* input.data-ng-invalid.data-ng-dirty{
			border-color: #2ecc71
			}
			
			input.data-ng-valid.data-ng-dirty{
			border-color: #2ecc71
			} */
			
			@font-face {
			font-family: validationFont;
			src: url("frutiger lt 55 roman.ttf");
			}
			
			.alerts{
			font-family: validationFont;
			position: fixed;
          	top: 450px; 
			left: 449px;
			}
			
			.button1{
			position: fixed; 
			height: 55px; 
			width: 167px; 
			top: 460px; 
			left: 762px;
			border: 0px; 
			background-color: #db3082;
			color: #000000; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size: x-large; 
			}